<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/employees.ico?v=1.1" type="image/x-icon">
    <link href="/css/style.css" rel="stylesheet">
    <title><%= title %></title>
</head>

<body class="bg-slate-900">
    <% if (title !== 'Login Account' && title !== 'Register Account') { %>
    <%- include('header') -%>
    <% } %>

    <%- body  %>

    <% if (title !== 'Login Account' && title !== 'Register Account') { %>
    <%- include('footer') -%>
    <% } %>
</body>

</html>